@import url("normalize.css");


body {
	background: #ccc;
	max-width: 960px;
	margin: 0px auto;
}

a:focus {
	outline: none;
}


#container {
	width: 100%;
	margin: 0 auto;
	background: #dddddd;
	
}

header {
	width: 100%;
	background-color: #dddddd;
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
	overflow: hidden;	
}


#logo {
	margin-top: 5px;
	margin-left: 10px;
	width: 422px;
	float: left;
}

#logo2 {
	margin-top: 5px;
	width: 422px;
	float: right;
}


nav {
	margin: -20px auto;
	width: 800px;
}

nav ul li {
	margin-right: 10px;
	float: left;
	font: 1.5em "myriad pro", "sans serif";
}

nav ul {
	list-style-type: none;
}

nav a{
	text-decoration: none;
}

a:link {
	color: #ff6633;
	text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
}

a:visited {
	color: #009900;
	text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
}

a:hover {
	color: #fff;	
	text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
}

a:active {
	color: red;
	text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
}	

.current{
	color:#ffffff !important;
	text-shadow: 2px 2px 2px #ff0000 !important;
	-moz-text-shadow: 2px 2px 2px #ff0000 !important;
	-webkit-text-shadow: 2px 2px 2px #ff0000 !important;
}

.why {
	margin-top: 60px;
	padding-left: 1em;
	padding-right: 1em;
}

.why h2 {
	text-align: center;
}

.why article {
	width: 54.6875%;
}

.why img {
	margin-top: 0px;
	width: 445px;
	height: 300px;
	float: right;
	border: 1px solid black;
}

.certs img {
	width: 300px;
	height: 141px;
	float: left;
	margin: 0 10px 10px 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.techs {
	clear: left;
	padding-left: 10px;
	padding-right: 10px;
}




footer {
	width: 100%;
	margin: 10px auto;
	padding-bottom: 10px;
	background-image: url(../images/footer_bg.jpg);
	overflow: hidden;
}

footer ul li {
	font-weight: bold;
	list-style-type: none;
	float: left;
	margin-left: 7.20833333333333%;
}


