/*-----------------------------Begin Reset---------------------------------------------*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------End Reset---------------------------------------------*/

body {
	background: #ccc;
	max-width: 960px;
	margin: 0px auto;
}




/*-----------------------------------BEGIN CONTAINER------------------------------------*/

#container {
	width: 100%;
	height: 900px;
	margin: 0 auto;
	background: #ccc;
}

/*--------------------------BEGIN HEADER-----------------------*/
header {
	width: 100%;
	height: 160px;
	background-color: #dddddd;
	margin: 0 auto;
	overflow: hidden;	
}


/*--------------BEGIN LOGO-----------------------*/

#logo {
	width: 100%;
	height: 100px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}

/*-----------------END LOGO-----------------------*/



/*---------------BEGIN NAV-----------------------*/
nav {
	margin: 0px auto;
	width: 80%; 
	/*margin-left: 5.20833333333333%;*/
	
/*	background-color: #9c9797;
	box-shadow: 0 2px 3px #999;
	-moz-box-shadow: 0 2px 3px #999;
	-webkit-box-shadow: 0 2px 3px #999;
	border-radius: 100px 100px 0 0;
	overflow: hidden;
	background: #5d5d5d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1fa', endColorstr='#5d5d5d');
	background: -webkit-gradient(linear, left top, left bottom, from(#eaf1fa), to(#5d5d5d));
	background: -moz-linear-gradient(top, #eaf1fa, #5d5d5d); */
}

nav ul li {
	text-align: center;
	display: block;
	padding-left: 0;
	width: 120px;
	float: left;
	font: 1.3em "myriad pro", "sans serif";
}

nav ul {
	list-style-type: none;
}

nav a{
	text-decoration: none;
}

a:link {
	color: black;
	text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
}

a:visited {
	color: blue;
	text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
}

a:hover {
	color: #fff;	
	text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
}

a:active {
	color: red;
	text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
}	

.current{
	color:#ffffff !important;
	text-shadow: 2px 2px 2px #ff0000 !important;
	-moz-text-shadow: 2px 2px 2px #ff0000 !important;
	-webkit-text-shadow: 2px 2px 2px #ff0000 !important;
}

/*------------------END NAV-----------------------*/




/*----------------------------END HEADER------------------------*/




/*--------------------BEGIN MAIN CONTENT------------------------*/

footer {
	width: 100%;
	margin: 0 auto;
	background-color: #dddddd;
	overflow: hidden;
}

footer ul li {
	font-weight: bold;
	list-style-type: none;
	float: left;
	margin-left: 7.20833333333333%;
}