@import url("normalize.css");


body {
	background: #ccc;
	max-width: 960px;
	margin: 0px auto;
}

a:focus {
	outline: none;
}


#container {
	width: 100%;
	margin: 0 auto;
	background: #dddddd;
}

header {
	width: 100%;
	background-color: #dddddd;
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
	overflow: hidden;	
}


#logo {
	margin-top: 5px;
	width: 487px;
	height: 187px;
}


nav {
	
	width: 490px;
	margin-top: -90px;
	padding-left: 0px;
	float: right;
}

nav ul li {
	
	margin-left: -30px;
	margin-right: 40px;
	float: left;
	font: 1.1em "myriad pro", "sans serif";
}

nav ul {
	list-style-type: none;
}

nav a{
	text-decoration: none;
}

a:link {
	color: #ff6633;
	text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
}

a:visited {
	color: #009900;
	text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
}

a:hover {
	color: #fff;	
	text-shadow: 2px 2px 2px #000;
	-moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
}

a:active {
	color: red;
	text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
}	

.current{
	color:#ffffff !important;
	text-shadow: 2px 2px 2px #ff0000 !important;
	-moz-text-shadow: 2px 2px 2px #ff0000 !important;
	-webkit-text-shadow: 2px 2px 2px #ff0000 !important;
}

.why {
	margin-top: 40px;
}

.why img {
	margin-top: 40px;
	width: 386px;
	height: 266px;
	float: right;
}

.certs img {
	width: 300px;
	height: 141px;
	float: left;
	margin: 0 10px 10px 10px;
}

.techs {
	clear: left;
}




footer {
	width: 100%;
	margin: 10px auto;
	padding-bottom: 10px;
	background-color: #dddddd;
	overflow: hidden;
}

footer ul li {
	font-weight: bold;
	list-style-type: none;
	float: left;
	margin-left: 7.20833333333333%;
}


#tt-widget-verifications * { margin:0 !important; padding:0 !important; border:0 !important; text-decoration:none !important; font-size: 1em !important; text-align: left !important; }
#tt-widget-verifications br { line-height:0; display:none; }
#tt-widget-verifications { padding: 9px 9px 0 9px !important; background: #f6f6f2 !important; font-family:Arial, Helvetica, sans-serif !important; color: #413f40 !important; font-size: 13px !important; border: 1px solid #e3dcd1 !important; -moz-border-radius: 5px !important; -webkit-border-radius: 5px !important; border-radius: 5px !important; line-height: 1.2em !important; }
#tt-user-info { min-height: 25px !important; margin-bottom: 4px !important; }
#tt-widget-verifications a.tt-profile-pic { float: left !important; }
#tt-widget-verifications h4 { margin: 0 !important; padding-left:35px !important; }
#tt-widget-verifications h4 a { font-size: 13px !important; color: #3179ba !important; text-decoration: none !important; }
#tt-widget-verifications #tt-ratings-verifications-div { padding-left:35px !important; }
 
#tt-widget-verifications .tt-middle { border: 1px solid #efefe5 !important; background: white !important; padding: 5px !important; -moz-border-radius: 3px !important; -webkit-border-radius: 3px !important; border-radius: 3px !important; position: relative !important; margin-bottom: 10px !important; }
#tt-widget-verifications .tt-middle div { color: #4b4a4b !important; background: #d2d2cd !important; font-size: 13px !important; font-weight: bold !important; padding: 2px !important; margin-bottom: 2px !important; }
 
#tt-widget-verifications .tt-tagline { text-align: center !important; }
#tt-widget-verifications .tt-tagline a { font-size: 12px !important; font-weight: bold !important; color: #413f40 !important; text-decoration: none !important; }
#tt-widget-verifications .tt-btn { display: block !important; margin: 8px auto 3px auto !important; width: 200px !important; height: 28px !important; background: url(http://cdn-1.thumbtackstatic.com/theme/ui/btn_contactnow_wide.png) no-repeat !important; text-indent: -10000px !important; }
#tt-widget-verifications .tt { color: #666465 !important; font-size: 10px !important; margin: 0 auto !important; text-align: center !important; }
#tt-widget-verifications .tt img { vertical-align: middle !important; }
#tt-widget-verifications a img { border: 0 !important; }
 
#tt-widget-verifications .tt-verification { margin-top: 4px !important; float: none !important; width: auto !important; color: #413F40 !important; }
#tt-widget-verifications .tt-verification li { list-style: none !important; padding:0 0 4px 0 !important; background: transparent no-repeat 0 0 !important; }
#tt-widget-verifications .tt-verification img { vertical-align: middle !important; }
 
/* colors */
#tt-widget-verifications.tt-neutral { background: #f6f6f2 !important; border-color: #e3dcd1 !important; }
#tt-widget-verifications.tt-neutral .tt-middle div { background: #f6f6f2 !important; }
#tt-widget-verifications.tt-orange { background: #faeee2 !important; border-color: #ebd4bd !important; }
#tt-widget-verifications.tt-orange .tt-middle div { background: #faeee2 !important; }
#tt-widget-verifications.tt-yellow { background: #faf8e9 !important; border-color: #d5d3cb !important; }
#tt-widget-verifications.tt-yellow .tt-middle div { background: #faf8e9 !important; }
#tt-widget-verifications.tt-brown { background: #eeebdf !important; border-color: #d5d3cb !important; }
#tt-widget-verifications.tt-brown .tt-middle div { background: #eeebdf !important; }
#tt-widget-verifications.tt-green { background: #e2ece2 !important; border-color: #8f99ac !important; }
#tt-widget-verifications.tt-green .tt-middle div { background: #e2ece2 !important; }
